--find-links https://data.pyg.org/whl/torch-2.1.2+cpu.html
## change cpu to cu121 for cuda 12.1 and so on
dask
git+https://github.com/patrick-kidger/torchcubicspline.git
h5netcdf
matplotlib
netCDF4
numpy
pandas
pre-commit
requests
scipy
tensordict
torch
torch-cluster
torch-scatter
torch-sparse
torch-spline-conv
torchdiffeq
tqdm
xarray
