requests
tqdm
matplotlib
numpy
pandas
scipy
xarray
netCDF4
h5netcdf
dask
tensordict
torch
torchdiffeq
torch-cluster
torch-scatter
torch-sparse
torch-spline-conv
git+https://github.com/patrick-kidger/torchcubicspline.git
