dask
#torch-cluster
#torch-scatter
#torch-sparse
#torch-spline-conv
git+https://github.com/patrick-kidger/torchcubicspline.git
h5netcdf
matplotlib
netCDF4
numpy
pandas
pre-commit
requests
scipy
tensordict
torch
torchdiffeq
tqdm
xarray
